body{
	font-family: Garamond;
    font-size: 16px;
    background-color: #FFF;
	}

/* HEADER */

#header{
    z-index: 1;					
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #8f320d; 		
	font-size: 20px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
	}

/* FOOTER */

#footer{
    z-index: 1;				
    font-size: 16px;
    position: fixed; 
    left: 0; 
    bottom: 0;
    padding: 3px;
    background: #8f320d; 		
    width: 100%; 
    text-align: center;
    color: #FFF;
}

#footer a{
    color:#FFF;
    text-decoration: none;
    font-weight: bold;
}

/* Лого */

#logo {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

/* Выбор категорий */

#select {
    position: absolute;
    z-index: 0;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#select .action-btm {
    width: 250px;
    height: 32px;
    margin-bottom: 12px;
    margin-right: 8px;
    margin-left: 8px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    background-color: #8f320d;
    border-radius: 7px;
    border: none;
    text-align: right;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
}

#select .action-btm:hover {
    background-color: #c95e34;
}

#select .action-btm:active {
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
    
}

#select .name {
    text-align: left;
    color: #FFF;
    position: absolute;
    margin-left: 20px;
    margin-top: -8px;
}

#select .action-btm .icon {
    height: 34px;
    width: 34px;
    background-color: #ffffff;
    border-width: 2px;
    border-color: #8f320d;
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    margin-left: -20px;
    margin-top: -12px;
    background-size: 34px 34px;
    background-image: url(../img/PF_action_1.png);
}

/* Иконки категорий действий */

#select .action-btm #comm-img {
    background-image: url(../img/hand-grb.png);
}

#select .action-btm #gens-img {
    background-image: url(../img/gens.png);
}

#select .action-btm #acro-img {
    background-image: url(../img/acro.jpg);
}

#select .action-btm #athl-img {
    background-image: url(../img/athl.jpg);
}

#select .action-btm #thif-img {
    background-image: url(../img/thif.png);
}

#select .action-btm #surv-img {
    background-image: url(../img/surv.png);
}

#select .action-btm #dipl-img {
    background-image: url(../img/dipl.png);
}

#select .action-btm #intm-img {
    background-image: url(../img/intm.png);
}

#select .action-btm #perf-img {
    background-image: url(../img/perf.png);
}

#select .action-btm #medc-img {
    background-image: url(../img/medc.jpg);
}

#select .action-btm #arcn-img {
    background-image: url(../img/arcn.jpeg);
}

#select .action-btm #decp-img {
    background-image: url(../img/decp.png);
}

#select .action-btm #soci-img {
    background-image: url(../img/soci.png);
}

#select .action-btm #oclt-img {
    background-image: url(../img/oclt.png);
}

#select .action-btm #netr-img {
    background-image: url(../img/netr.png);
}

#select .action-btm #relg-img {
    background-image: url(../img/relg.png);
}

#select .action-btm #crft-img {
    background-image: url(../img/crft.png);
}

#select .action-btm #stel-img {
    background-image: url(../img/stel.png);
}

/* Модальные окна*/

#modalwin {
    z-index: 2;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#overlay {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.7;
}

#window {
    position: relative;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.6);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#closeX {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    background-color: #8f320d;
    border: none;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

#close {
    background-color: #8f320d;
    color: #FFF;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px 5px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Информация в модальном окне */

.actions {
    text-align: left;
    display: none;
}

.actions h1 {
    font-size: 32px;
    color: #8f320d;
    text-align: center;
}

.actions h2 {
    font-size: 20px;
    color: #8f320d;
}

.actions h3 {
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 2px;
}

.actions h4 {
    margin-top: 30px;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}

.actions hr {
    margin-top: -5x;
    margin-bottom: -5px;
}

.actions p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.actions ul,li {
    margin: 10px;
    padding: 0px;
}

.act-cost {
    height: 14px;
    margin-bottom: -2px;
}

.act-type {
    display: inline-block;
    background-color: #68180a;
    font-weight: bold;
    color: #FFF;
    padding: 1px 4px;
    border: 3px solid rgb(241, 177, 0);
}

.left-line {
    padding-left: 10px;
    border-left: 2px solid rgb(241, 177, 0);
}

/* Сайдбар */

.sidebar {
    float: right;
    width: 40%;
    
    display: block;
    background-color: #f7e4db;
    padding: 0 15px;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid #ac9e98;
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 90%;
    }
}

.sidebar-tittle {
    font-weight: bold;
}

/* Таблицы */

.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: auto;
	margin-bottom: 20px;
    border: 1px solid #ac9e98;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #68180a;
	border: 1px solid #ac9e98;
    text-align: center;
    color: #FFF;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #ac9e98;
	text-align: left;
}
.table tbody tr:nth-child(odd){
	background: #fff2eb;
}
.table tbody tr:nth-child(even){
	background: #ffe9c8;
}